#SPMEDI{ 
   margin-left: 0px;
   
   width: 100%;
   height: 600px;
}

#barra1{
    margin-left: 80px;
    margin-top: 100px;
    width: 450px;
    height: 40px;
    position: relative;  
    border-radius: 15px;
    background-color:#8ec3cd;
    top: 37px;
   
    
}

#barra2{
    margin-left: 80px;
    margin-top: 34px;
    width: 450px;
    height: 40px;
    background-color: #8ec3cd;
    position: relative;
    border-radius: 15px;
    top: 37px;

   
}

#barra3{
    margin-left: 80px;
    margin-top: 34px;
    width: 450px;
    height: 40px;
    background-color: #8ec3cd;
    position: relative;
    border-radius: 15px;
    top: 37px;
}

#barra4{
    margin-left: 80px;
    margin-top: 34px;
    width: 450px;
    height: 40px;
    background-color: #8ec3cd;
    position: relative;
    border-radius: 15px;
 
    top: 37px;
}

#barra5{
    margin-left: 900px;
    margin-top: -220px;
    width: 450px;
    height: 40px;
    background-color: #8ec3cd;
    position: relative;
    border-radius: 15px;

}

#barra6{
    margin-left: 900px;
    margin-top: 34px;
    width: 450px;
    height: 40px;
    background-color: #8ec3cd;
    position: relative;
    border-radius: 15px;
}

#barra7{
    margin-left: 900px;
    margin-top: 34px;
    width: 450px;
    height: 40px;
    background-color: #8ec3cd;
    position: relative;
    border-radius: 15px;
}

#barra8{
    margin-left: 900px;
    margin-top: 34px;
    width: 450px;
    height: 40px;
    background-color: #8ec3cd;
    position: relative;
    border-radius: 15px;
}

#imagem{
    width: 400px;
    height: 100px;
    margin-left: 35%;
}

#inp1{
    padding: 10px;
    outline: none;
    border: none;
    background-color: #8ec3cd;
    border-radius: 15px;
    width: 400px;
   
}

#inp2{
    padding: 10px;
    outline: none;
    border: none;
    background-color: #8ec3cd;
    border-radius: 15px;
    width: 400px;

}

#inp3{
    padding: 10px;
    outline: none;
    border: none;
    background-color: #8ec3cd;
    border-radius: 15px;
    width: 400px;
    

}

#inp4{
    padding: 10px;
    outline: none;
    border: none;
    background-color: #8ec3cd;
    border-radius: 15px;
    width: 400px;

}

#inp5{
    padding: 10px;
    outline: none;
    border: none;
    background-color: #8ec3cd;
    border-radius: 15px;
    width: 400px;

}

#inp6{
    padding: 10px;
    outline: none;
    border: none;
    background-color: #8ec3cd;
    border-radius: 15px;
    width: 400px;
}

#inp7{
    padding: 10px;
    outline: none;
    border: none;
    background-color: #8ec3cd;
    border-radius: 15px;
    width: 400px;

}

#inp8{
    padding: 10px;
    outline: none;
    border: none;
    background-color: #8ec3cd;
    border-radius: 15px;
    width: 400px;

}

#suporte{
    font-family: 'Gilda Display', serif;
    margin-left: 620px;
    font-size: 25px; 
    margin-top: 130px;
    width: 300px;
}

#fone{
    margin-top: -60px;
    margin-left: 830px;
}

#cadastre{
    margin-top: -110px;
    margin-left: 630px;
    padding: 10px;
    outline: none;
    border: none;
    background-color: #8ec3cd;
    border-radius: 15px;
    width: 170px;
    font-family: 'Gilda Display', serif;
    font-size: 30px;
    height: 20px;
    cursor: pointer;
    position: absolute;

}
#cad{
    margin-top: -6px;
    margin-left: 12px;
    font-family: 'Gilda Display', serif;
}
#seta{
    margin-left: -10px;
    margin-top: -700px;

}

#cadastre:hover{
    background-color: rgb(161, 179, 184);

}
#olhochina{
    margin-left: 600px;
    margin-top: 190px;

}

#per2{
    margin-left: 555px;
    background-color:#8ec3cd;
    border: none;
    border-radius: 15px;
    outline: none;
    padding: 10px;
    width: 300px;
}


