<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="../estilos/agendar.css">
    <link rel="shortcut icon" href="../icone.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendar</title>
</head>
<body style="background-color: #f3efe8;">
    <div id="contato">
        <div id="icontelefone"> <img src="../telefone 1.png" height="20px" alt="icone telefone"></div> 
 
         <div id="num1"><a>11 4349-3972</a></div>
        
         <hr size="20px" width="1px" color="#0000" noshade="50px">
 
         <div id="iconewpp"><img src="../watsap.png" height="20px" alt="icone whatsapp"></div>
 
         <div id="num2"><a>11  99117-6833</a></div>
 
     </div>
 
 
     <div id="cabeçalho">
         <div id="logo"><img src="../baguionovo-removebg-preview.png" alt="logo" width="400px"></div>
    
         <div id="home"> <br> <br><a>HOME</a></div>
         <div id="aclinica"> <br><br><a>A CLÍNICA</a></div>
         <div id="entrar"><br><br><a href="../paginas/login.html">ENTRAR/CADASTRAR</a></div>
         <div id="agendar"><br><br><a>AGENDAR CONSULTA</a></div>
     </div>
    <div><h3 id="agende">Agende sua Consulta</h3></div>
    <div><input id="esp" type="text" placeholder="Especialidade"></div>
    <br>
    <div><input id="doutor" type="text" placeholder="doutor"></div>
    <br>
    <div><input id="data" type="date"</div>    
    <br>
    <div><input id="conv" type="text" placeholder="Convênio"></div>
    <div><a href="login.html" id="login">Já tem login?</a></div>
    <div><a href="cadastro.html" id="cad">Cadastre-se</a></div>
  
    


    
</body>
</html>