<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../icone.png" type="image/x-icon">
   
    <title>Envio</title>
    <link rel="stylesheet" href="../estilos/enviodeemail.css">
</head>
<body background="../MEDICO.jpg" style="background-repeat: no-repeat; background-size: 75%;">
    <div id="SPMEDI">
        <img id="logo" src="../baguionovo-removebg-preview.png" alt="" width="300px"></div>
    <div id="mensagem"><h3>Informe o seu e-mail para o envio do código de recuperação :</h3></div>  
    <div id="barra1">
        <input id="inp1" type="text" placeholder="E-mail">
    </div>  
    <div id="enviar">
        <a href="condigoenviado.html"><button  id="style">Enviar</button></a>
    </div>
    <div id="seta"><img src="../seta.png" alt=""></div>
    <div id="suporte"><h4>Suporte ao cliente</h4> </div>
    <div id="fonin"><img id="fonin" src="../fonin.png" alt=""></div>

</body>
</html>