<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="../estilos/home.css">
    <link rel="shortcut icon" href="../img/icone.pnge" type="image/x-icon" >
</head>
    <body style="background-color: f3efe8;">
        <div id="contato">
        <div id="icontelefone"> <img src="../img/telefone 1.png" height="20px" alt="icone telefone"></div>
        
        <div id="num1"><a>11 4349-3972</a></div>

        <hr size="20px" width="1px" color="#0000" noshade="50px">

        <div id="iconewpp"><img src="../img/watsap.png" height="20px" alt="icone whatsapp"></div>
        
        <div id="num2"><a>11 99117-6833</a></div>
    </div>

    <div id="cabeçalho">
        <div id="logo"><img src="logo.png" alt="logo" width="100px"></div>
        <div id="home"><br><br><a href="homepage.html">HOME</a></div>
        <div id="aclinica"><br><br><a href="" style="color: black; text-decoration: none;" rel="next">A CLÍNICA </a></div>
        <div id="entrar"><br><br><a href="cadastrodpPacinte.html">ENTRAR/CADASTRAR</a></div>
        <div id="agendar"><br><br><a href="agendar.html">AGENDAR CONSULTA</a></div>
    </div>

    <div id="demo" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        </div>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../img/img1.jpg" alt="" class="imgmuda">
            </div>
            <div class="carousel-item">
                <img src="../img/img2.jpg" alt="" class="imgmuda">
            </div>
            <div class="carousel-item">
                <img src="../img/img3.jpeg" alt="" class="imgmuda">
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-ride="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
    </div>

    <div id="informaçoes">
        <div id="quadrado1">
            <div id="img1"><img src="" alt=""></div>
            <div id="texto1">
                <p>OS NOSSOS PROFISSIONAIS,
                CADA UM COM SUAS ESPECIALIDADES,
                TODOS MUITO COMPETENTES,
                DEDICADOS E FOCADOS
                EM MELHORAR SUA SAÚDE E BEM-ESTAR
                </p>
            </div>
        </div>

    <div id="quadrado2">
        <div id="img2"><img src="" alt=""></div>
        <p id="texto1">NOSSO PRÉDIO
        POSSUI ACESSIBILIDADE
        PARA CADEIRANTES,
        COM RAMPAS, ELEVADORES,
        BARRAS DE APOIO,
        BANHEIROS ADAPTADOS,
        ENTRE MUITOS
        OUTROS SERVIÇOS
        </p>
    </div>

    <div id="parte4">
        <p id="especialidades">
            ESPECIALIDADES
        </p>

        <div id="especi1">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </div>
        <div id="especi2">
            <img src="" alt="">
            <img src="" alt="">
        </div>
        <br>
    </div>

    <div id="parte4">
    </div>
    <div id="especiimg">
        <img src="" alt="">
        <br>
        <br>
        <br>
        <br>
        <img src="" alt="">
        <br>
        <br>
        <br>
        <br>
        <img src="" alt="">
        <br>
        <br>
        <br>
        <br>
        <img src="" alt="">
        <br>
        <br>
        <br>
        <br>
        <img src="" alt="">
        <br>
        <br>
    </div>
    </div>
</body>
</html>