<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../icone.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../estilos/paciente.css">
    <title>Paciente</title>
</head>
<body style="background-color: #f3efe8;">
    <div id="contato">
        <div id="icontelefone"> <img src="../telefone 1.png" height="20px" alt="icone telefone"></div> 
 
         <div id="num1"><a>11 4349-3972</a></div>
        
         <hr size="20px" width="1px" color="#0000" noshade="50px">
 
         <div id="iconewpp"><img src="../watsap.png" height="20px" alt="icone whatsapp"></div>
 
         <div id="num2"><a>11  99117-6833</a></div>
 
     </div>
    <div id="cabeçalho">
        <div id="logo"><img src="../baguionovo-removebg-preview.png" alt="logo" width="400px"></div>
   
        <div id="home"> <br> <br><a>HOME</a></div>
        <div id="aclinica"> <br><br><a>A CLÍNICA</a></div>
        <div id="agendar"><br><br><a href="../paginas/agendar.html">AGENDAR CONSULTA</a></div>
        <div id="cool"><br><br><a><img id="conta" src="../peril.png" alt=""></a></div>
        <div id="cool2"> <img id="setinha" src="../setinha.png" alt="" ><select></select></div>
    </div>
    <div id="cool3"><img id="engrenagem" src="../engrenagem.png" alt=""></div>
    <div id="next"><h5>Próxima consulta</h5></div>
    <div><input id="data" type="datetime-local"></div>
    <div id="name"><h5>Nome</h5></div>
    <div><input id="name2" type="text"></div>
    <div id="cpf"><h5>CPF</h5></div>
    <div><input id="cpf2" type="number"></div>
    <div id="conv"><h5>Convênio</h5></div>
    <div><input id="conv2" type="text"></div>
    <div><button id="sair">SAIR</button></div>
    <div><img id="krak" src="../krak.png" alt=""></div>
 
    
</body>
</html>